<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="myNoteApp" ng-controller="myNoteCtrl">
	<textarea ng-model="message" cols="40" rows="10"></textarea>
	<p>
		<button ng-click="save()">保存</button>
		<button ng-click="clear()">清除</button>
	</p>
	<p>剩余数字:<span ng-bind="left()"></span></p>

</body>
<script type="text/javascript">
	var app=angular.module("myNoteApp",[]);
	app.controller("myNoteCtrl",function($scope){
		$scope.clear=function(){
			$scope.message="";
		};
		$scope.left=function(){
			return 100-$scope.message.length;
		};
		$scope.save=function(){
			alert("Noted Save !");
		}
	});
</script>
</html>